body {
    font-family: cursive;
}

header {
    display: flex;
    align-items: center;
    background-color: #fdd4c4;
    margin: 0px 10px 0px 10px;
}
header p {
    font-size: 30px;
}
header img {
    width: 100px;
    height: 120px;
    margin-left: 350px;
}
.button {
    background-color: #F5EF9A;
    color: black;
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    font-size: 20px;
    display: inline-block;
    justify-content: space-around;
    margin: 10px
  
}
.button:hover {
    background-color: #FFCAD2;
}
.c {
    position: relative;
    top: 40px;
    left: 80px;
    width: 500px;
    height: 350px;
    justify-content: space-between;
}
.b {
    position: relative;
    background-color: white;
    left: 550px;
    bottom: 200px;
    padding: 50px 100px 50px 100px;

}
.wel {
    background-color: #F5EF9A;
}
/* .i{
    position: relative;
} */
